* {
  margin: 0px;
  box-sizing: border-box;
}

@media screen and (max-width: 767px) {
  .bg-con {
    height: 100vh;
  }

  .header {
    background-color: grey;
    height: 50px;
  }

  .container {
    margin-top: 2vh;
    margin-bottom: 2vh;
    height: 80vh;
  }

  .first-con {
    height: 66%;
  }

  .a-container {
    background-color: red;
    height: 50%;
  }

  .b-container {
    background-color: burlywood;
    height: 50%;
  }

  .c-container {
    background-color: yellow;
    height: 33%;
  }

  .footer {
    background-color: grey;
    height: 50px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .header {
    background-color: grey;
    height: 10vh;
  }

  .container {
    margin-top: 2vh;
    display: flex;
    height: 76vh;
    margin-bottom: 2vh;
  }

  .first-con {
    width: 50vw;
  }

  .a-container {
    background-color: red;
    height: 50%;
  }

  .b-container {
    background-color: burlywood;
    height: 50%;
  }

  .c-container {
    background-color: yellow;
    height: 100%;
    width: 50vw;
  }

  .footer {
    background-color: grey;
    height: 10vh;
  }
}

@media screen and (min-width: 992px) {
  .header {
    background-color: grey;
    height: 10vh;
  }

  .container {
    margin-top: 2vh;
    display: flex;
    height: 76vh;
    margin-bottom: 2vh;
  }

  .first-con {
    width: 80vw;
  }

  .a-container {
    background-color: red;
    height: 50%;
  }

  .b-container {
    background-color: burlywood;
    height: 50%;
  }

  .c-container {
    background-color: yellow;
    height: 100%;
    width: 20vw;
  }

  .footer {
    background-color: grey;
    height: 10vh;
  }
}
