* {
  margin: 0px;
  box-sizing: border-box;
}

@media screen and (max-width: 767px) {
  .bg-con {
    height: 100vh;
  }

  .header1 {
    background-color: grey;
    padding: 10px;
  }

  .container {
    margin-top: 2vh;
    margin-bottom: 2vh;
    height: 80vh;
  }

  .a-container {
    background-color: rgb(114, 151, 62);
    height: 40%;
    padding: 10px;
  }

  .b-container {
    background-color: green;
    height: 30%;
    padding: 10px;
  }

  .c-container {
    background-color: yellow;
    height: 30%;
    padding: 10px;
  }

  .footer {
    background-color: grey;
    padding: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .bg-con {
    height: 100vh;
  }

  .header1 {
    background-color: grey;
    padding: 10px;
  }

  .container {
    height: 80vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .a-container {
    background-color: rgb(114, 151, 62);
    height: 50%;
    width: 100%;
    padding: 10px;
  }

  .b-container {
    background-color: green;
    height: 50%;
    width: 50%;
    padding: 10px;
  }

  .c-container {
    background-color: yellow;
    height: 50%;
    width: 50%;
    padding: 10px;
  }

  .footer {
    background-color: grey;
    padding: 10px;
  }
}

@media screen and (min-width: 992px) {
  .bg-con {
    height: 100vh;
  }

  .header1 {
    background-color: grey;
    padding: 10px;
  }

  .container {
    height: 80vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
    display: flex;
  }

  .a-container {
    background-color: rgb(114, 151, 62);
    width: 46vw;
    padding: 10px;
    order: 2;
  }

  .b-container {
    background-color: green;
    width: 27vw;
    padding: 10px;
  }

  .c-container {
    background-color: yellow;
    width: 27vw;
    padding: 10px;
    order: 3;
  }

  .footer {
    background-color: grey;
    padding: 10px;
  }
}
